<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <!-- 本地Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist@5.3/css/bootstrap.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block css %}
    {% endblock %}
</head>
<body>

    <!-- 页面内容将在这里插入 -->
    {% block content %}
    {% endblock %}

    <!-- CDN jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scrips %}
    {% endblock %}
</body>
</html>