{% extends 'base.html' %}

{% block title %}
    <title>一个神奇的翻译小站😊</title>
{% endblock %}

{% block css %}
<style>
    .container {
        max-width: 100%;
        height: 100vh;
        padding: 30px 10px; /* 保持原有的上边距，根据需要进行调整 */
        overflow: auto; 
    }
    .extra-content {
        text-align: right;
        font-size: 0.5rem; /* 调整字体大小 */
        font-style: italic; /* 设置文本为斜体 */
        font-variant: small-caps; /* 设置文本为小型大写字母 */
    }
    #source_text {
        box-sizing: border-box;
    }
    #source_text_count {
        margin-top: -15px;
        margin-right: 18px;
        text-align: right;
        font-size: 0.5rem; /* 调整字体大小 */
    }
</style>
{% endblock %}


{% block content %}
<div class="container">    
    <div class="row d-flex flex-column flex-sm-row justify-content-center">
        <div class="col">
            <textarea class="sform-control" id="source_text" placeholder="Text to be translated..." maxlength="6000">{{ source_text }}</textarea>
            <div id="source_text_count" class="form-text">0/10000</div>
        </div>
        <div class="col">
            <textarea class="tform-control" id="target_text" placeholder="Translation text will appear here..." readonly>{{ target_text }}</textarea>
            <div id="power_tag" class="form-text extra-content">{{ extra_content }}</div>
        </div>
    </div>
</div>
{% endblock %}


{% block scrips %}
<script src="{{ url_for('static', filename='js/translate.js') }}"></script>
{% endblock %}